@import url(reset.css);

@font-face {
    font-family: "Gordita";
    src: url("../fonts/Gordita/Gordita-Regular.woff2"),
    url("../fonts/Gordita/Gordita-Regular.woff");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "Gordita";
    src: url("../fonts/Gordita/Gordita-RegularItalic.woff2"),
    url("../fonts/Gordita/Gordita-RegularItalic.woff");
    font-style: italic;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "Gordita";
    src: url("../fonts/Gordita/Gordita-Medium.woff2"),
    url("../fonts/Gordita/Gordita-Medium.woff");
    font-style: normal;
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: "Gordita";
    src: url("../fonts/Gordita/Gordita-Bold.woff2"),
    url("../fonts/Gordita/Gordita-Bold.woff");
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: "Gordita";
    src: url("../fonts/Gordita/Gordita-Black.woff2"),
    url("../fonts/Gordita/Gordita-Black.woff");
    font-style: normal;
    font-weight: 900;
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter/Inter-Regular.woff2"),
    url("../fonts/Inter/Inter-Regular.woff");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter/Inter-Italic.woff2"),
    url("../fonts/Inter/Inter-Italic.woff");
    font-style: italic;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter/Inter-Medium.woff2"),
    url("../fonts/Inter/Inter-Medium.woff");
    font-style: normal;
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter/Inter-Bold.woff2"),
    url("../fonts/Inter/Inter-Bold.woff");
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}

body {
    font-family: Gordita;
    color: #161E2E;
    font-size: 16px;
    font-weight: 400;
}

.container {
    max-width: 1220px;
    padding: 0 20px;
    margin: 0 auto;
}

.btn {
display: flex;
justify-content: center;
align-items: center;
column-gap: 22px;
font-size: 14px;
font-weight: 500;
color: #F4FBF7;
background-color: #00B871;
border-radius: 4px;
}


/* Header */


.header {
    background-color: white;
    padding-top: 16px;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 74px;
}
.logo {
    display: flex;
    width: 64px;
    height: 33px;
    position: relative;
    padding-top: 7px;
}
.logo-text {
    color: #161E2E;
    font-size: 12px;
    font-weight: 500;
    position: absolute;
    top: 15px;
    right: 0px;
    z-index: 10;
}
.logo-background {
    width: 52px;
    height: 33px;
    background-color: #00B871;
    border-radius: 2px;
    position: absolute;
    left: 0px;
}

/* Nav */

.nav-list {
    display: flex;
    column-gap: 25px;
    font-weight: 500;
    padding-top: 13px;
}

.nav-link {
    color: #161E2E;
}

.nav-vector1 {
    padding-top: 9px;
}

.nav-btn-text {
   padding: 14px 0 14px 32px;
}

.nav-vector {
  padding: 3px 32px 0 0;
}

/* Header content */

.header-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 120px;
}
.header-content {
    margin-top: 70px;
    max-width: 580px;
}
.header-text {
    font-weight: 500;
    font-size: 16px;
    color: #00B871;
    margin-bottom: 24px;
}
.header-heading {
    font-weight: 500;
    font-size: 48px;
    color: #161e2e;
    margin-bottom: 16px;
    line-height: 68px;
}

.header-content p {
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 32px;
}

.header-content .btn {
    width: 195px;
    height: 56px;
    font-size: 18px;
}

.header-img {
    width: 580px;
    height: 610px;
    position: relative;
    margin-right: -20px;
}

.header-img-background {
    position: absolute;
    width: 359px;
    height: 465px;
    background-color: #00B871;
    z-index: 1;
    border-radius: 22px;
    position: absolute;
    left: 55px;
    bottom: 37px;

}
.totalproduct {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 3;
}
.hero {
    position: absolute;
    left: 0;
    bottom: 37px;
    z-index: 4;
}
.useractivity {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 5;
}

.header-googleads {
    position: absolute;
    bottom: 100px;
    right: 40px;
    z-index: 3;
}

/* Service-advertising*/

.advertising {
    background-color: #F4FBF7;
    padding: 35px 35px;
    margin-bottom: 84px;
}

.advertising-row {
    display: flex;
    column-gap: 76px;
    justify-content: center;
}

.bitbucket {
    margin-top: 0px;
}

.watch {
    margin-top: 4px;
}

.facebook {
    margin-top: 5px;
}

.atlassian {
    filter: grayscale(100%) opacity(35%);
    margin-top: 2px;
}

.audi {
    width: 100px;
    height: auto;
    margin-top: 2px;
}

/* Who we are*/

.who-we-are-row {
    display: flex;
    justify-content: space-between;
    column-gap: 100px;
    margin-bottom: 24px;
}

.who-we-are-content {
    margin-top: 136px;
    max-width: 480px;
}

.who-we-are-text {
    font-weight: 500;
    font-size: 16px;
    color: #00B871;
    margin-bottom: 24px;
}
.who-we-are-heading {
    font-weight: 500;
    font-size: 32px;
    color: #161e2e;
    margin-bottom: 16px;
    line-height: 46px;
    max-width: 380px;
}

.who-we-are-content p {
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 32px;
}

.who-we-are-content .btn {
    width: 154px;
    height: 48px;
    font-size: 18px;
    background-color: #161E2E;
    font-size: 14px;
}

.who-we-are-img {
    width: 630px;
    height: 660px;
    position: relative;
    margin-right: -20px;
}

.who-we-are-img-background {
    position: absolute;
    width: 327px;
    height: 424px;
    background-color: #161E2E;
    z-index: 2;
    border-radius: 20px;
    position: absolute;
    left: 165px;
    bottom: 75px;
}

.totalproduct-who-we-are {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 5;
}

.hero-who-we-are {
    position: absolute;
    left: 1px;
    top: 17px;
    z-index: 4;
}

.useractivity-who-we-are {
    width: 250px;
    height: 240px;
    position: absolute;
    top: 65px;
    left: 0;
    z-index: 3;
}
.curve {
    position: absolute;
    bottom: 90px;
    right: 20px;
    z-index: 1;
}
.ellipsebig {
    position: absolute;
    bottom: 110px;
    left: 73px;
    z-index: 2;
}
.ellipsemedium {
    position: absolute;
    top: 117px;
    right: 184px;
    z-index: 2;
}
.ellipsesmall {
    position: absolute;
    bottom: 347px;
    right: 36px;
    z-index: 2;
  
}
.dot {
    position: absolute;
    bottom: 270px;
    left: 115px;
    z-index: 2;
}

/* Why choose us section */

.why-choose-us {
    background-color: #F4FBF7;
    padding-top: 96px;
    padding-bottom: 96px;
}

.why-choose-us-header {
    max-width: 499px;
    font-weight: 500;
    font-size: 32px;
    line-height: 46px;
    margin-bottom: 32px;
}

.why-choose-us-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
}

.card-block {
    display: flex;
    flex-wrap: wrap;

}
.card {
    padding: 24px 24px;
}

.card h3 {
    padding-top: 36px;
    width: 213px;
    font-size: 18px;
    line-height: 26px;
    font-weight: 500;
}

.card p {
    padding-top: 12px;
    max-width: 272px;
    line-height: 27px;
}

.why-choose-us-img {
    border-radius: 24px;
}

.why-choose-us-content .btn {
    width: 160px;
    height: 48px;
    font-size: 14px;
    padding-left: 32px;
    column-gap: 15px;
}
