@media (max-width: 1230px) {
    .nav-wrapper {
        display: none;
    }

    .nav.open {
        overflow: hidden;
    }

    .nav-btn {
        display: block;
        z-index: 20;
        position: fixed;
        width: 20px;
        margin-top: 20px;
    }

    .nav.open .nav-wrapper {
        display: block;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #00B871;
        z-index: 15;
        padding-top: 20px;
        padding-left: 16px;
    }

   .nav.open .btn {
        background-color: #2FDF84;
        width: 80%;
        margin: 0 auto;
   }

    .nav.open .nav-wrapper .nav-list {
        display: block;
        font-weight: 400;
        font-size: 24px;
        line-height: 34px;
        position: relative;
        margin-bottom: 420px;
    }

    .nav.open .nav-wrapper .nav-list .nav-item .nav-link {
        color: #fff;
        margin-left: 25px;

    }

    .nav.open .nav-wrapper .nav-list details > summary {
        margin-left: 0px;
        margin: 32px 0;
        color:#fff;
        
    }


     .nav.open .nav-wrapper .nav-list details[open] summary {
        color:#fff;
     }


     .nav.open .nav-wrapper .nav-list details .nav-details-list {
        transform: translate(0, 0);

     }


}