@media (max-width: 1230px) {
    .nav-wrapper {
        display: none;
    }

    .nav-btn {
        display: block;
        margin-top: 20px;
        margin-right: 10px;
    }

    .nav.open .nav-wrapper {
        display: block;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #00B871;
    }



}