@media (max-width: 1230px) {

    .card {
        box-shadow: 0px 6px 16px 4px rgba(47, 223, 132, 0.15);
    }

    /* Nav */ 

    .nav-wrapper {
        display: none;
    }

    .nav-btn {
        display: block;
        z-index: 20;
        position: relative;
        width: 20px;
        margin-top: 18px;
        margin-right: 10px;
    }

    .nav.open .nav-wrapper {
        display: block;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #00B871;
        z-index: 15;
        padding-top: 20px;
        padding-left: 16px;
    }

    .nav.open .btn {
        background-color: #2FDF84;
        width: 80%;
        margin: 0 auto;
   }

    .nav.open .nav-wrapper .nav-list {
        display: block;
        font-weight: 400;
        font-size: 24px;
        line-height: 34px;
        position: relative;
        margin-bottom: 420px;
    }

    .nav.open .nav-wrapper .nav-list .nav-item .nav-link {
        color: #fff;
        margin-left: 25px;

    }

    .nav.open .nav-wrapper .nav-list details > summary {
        margin-left: 0px;
        margin: 32px 0;
        color:#fff;
        
    }

    .nav.open .nav-wrapper .nav-list details[open] summary {
        color:#fff;
    }


    .nav.open .nav-wrapper .nav-list details .nav-details-list {
        transform: translate(0, -30px);
        width: 95%;

    }

    /* Header */

     .header-row {
        display: block;
        margin-bottom: 60px;
    }

    .header-content {
        margin: 0 auto;
    }

   .header-content .btn {
        margin-bottom: 20px;
    }

    .hero {
        display: block;
        margin: 0 auto;
    }


    /* Advertising*/
    
    .advertising {
        padding: 20px 0 10px 0;
        
    }
    .container {
    }
    .advertising-row {
        flex-wrap: wrap;
        line-height: 300%;
    }
    .bitbucket {
        min-width: 80px;
    }
    .advert-svg {
    }
    .watch {
        min-width: 80px;
    }
    .facebook {
        min-width: 80px;
    }
    .atlassian {
        min-width: 80px;
    }
    .audi {
        min-width: 80px;
    }

    /* Who we are */

    .who-we-are-row {
        display: block;
        margin-bottom: 60px;
    }

    .who-we-are-content {
        margin: 0 auto;
    }

    .who-we-are-content .btn {
        margin-bottom: 20px;
    }
    
    .hero-who-we-are {
        display: block;
        margin: 0 auto;
    }

    /* Why choose us */

    .why-choose-us {
        padding-top: 60px;
        padding-bottom: 60px;
    }
  
    .why-choose-us-header {
        width: 80%;
    }

    .why-choose-us-row {
        display: block;
    }

    .card-block {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 55px;
    }

    .card {
        width: 45%;
        min-width: 400px;
    }

    .why-choose-us-content .btn {
        display: none;
    }

    .why-choose-us-img {
        display: block;
        margin: 0 auto;
    }

    /* Stats */

    .stats-content {
        padding: 75px 80px 55px 80px;
    }
    .stats-row {
        flex-wrap: wrap;
        justify-content: center;
    }
    .stats-element {
        padding-bottom: 30px;
    }

    /* Design */

    .design-row {
        display: block;
        padding-bottom: 40px;
    }

    .img-block-design {
        float: none;
        margin: 0  auto;
    }

    .what-we-do-sect-header {
        width: 70%;
        margin-top: 20px;
    }
   

    /* Dig advert */

    .dig-advert-row {
        display: block;
        padding-bottom: 30px;
    }

    .img-block-dig-advert {
        float: none;
        margin: 0  auto;
        margin-bottom: 30px;
    }


    /* Seo */

    .seo-row {
        display: block;
        padding-bottom: 30px;
    }

    .img-block-seo {
        float: none;
        margin: 0  auto;
        margin-bottom: 30px;
    }


    /* Soc media */

    .social-media-row {
        display: block;
        padding-bottom: 30px;
    }

    .img-block-social-media {
        float: none;
        margin: 0  auto;
        margin-bottom: 30px;
    }
   

    /* Box */

    .box-row {
        display: block;
        text-align: center;
    }


    /* Blog */

    .blog-card-row {
        flex-wrap: wrap;
    }
    .blog-card {
        width: 30%;
        min-width: 400px;
        margin: 0 auto;
        margin-bottom: 30px;    }
    .blog-card-img {
        width: 100%;
    }
   
    .blog-card-header {
        width: 70%;
    }


    /* Newsletter */

    .newsletter-row {
        width: 98%;
        max-width: 700px;
        margin: 0 auto;
    }
    .newsletter-row .btn{
        font-size: 12px;
    }
   

    /* Footer */

    .footer-row {
        display: flex;
        flex-wrap: wrap;
    }
    .menu-column {
        margin-top: 25px;
    }
   
    .contact-column {
        margin-bottom: 25px;
    }
    
    .socials-row {
        margin-bottom: 25px;
    }
    
    .footer-additional-row {
        display: block;
    }

    .rules {
        display: block;
    }
    .copyright {
        margin-bottom: 20px;
    }

    .footer-terms {
        display: block;
        margin-bottom: 10px;
    }

    

}

@media (max-width: 860px) {


    /* Modal*/


    .modal-box-container {
        max-width: 90%;
        height: auto;
    }

    .modal-box-close {
        margin-top: 5px;
        float: right;
        margin-right: -30px;
        margin-left: 0;
    }

    .modal-box-header {
        width: 80%;
    }

    .modal-box-container p {
        width: 80%;
        margin-bottom: 15px;
    }

    .modal-box-cridentials {
        column-gap: 15px;
    }

    .modal-box-cridentials input {
        width: 43%;
        margin-bottom: 20px;
    }

    .input-message {
        width: 90%;
    }
    .modal-box-content-form .btn {
        width: 60%;
    }



}